.collections_div{
    width: 100%;
    margin-top: 50px;
    text-align: center;
}

.collection_div{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: center;
}

.collection_button_div{
    margin-top: 25px;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important;
}

.collection_button{
    background-color: aliceblue !important;
}